.headertop {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background: #3a3b3c;
    border-radius: 25px;
    overflow: hidden;
}

.urlbox {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e4e6eb;
    outline: auto;
    outline-offset: 20px;
    outline-width: thick;
    outline-color: #3a3b3c;
    outline-style: solid;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 3%;
}

.urlbox label {
    margin-left: 30px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.urlbox .switch {
    margin-left: 43%;
    margin-bottom: 5%;
    position: relative;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color: white;
}


body {
background: #242526;
justify-content: center;
align-items: center;
}

label {
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.players {
    align-content: center;
    justify-content: center;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding-top: 1%;
    padding-bottom: 2%;
    overflow: hidden;
    position: relative;
}

.players iframe {
    min-height: 400; 
    min-width: 340;
    resize: both;
    overflow: hidden;
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    width: 93%;
    height: 100%;
}

.players .playerOne {
    margin-left: 80px;
}

.players .playerTwo {
    position: relative;
    padding-left: 1px;
}

.players .playerThree {
    position: relative;
    padding-left: 80px;
    padding-top: 30px;
}

.players .playerFour {
    position: relative;
    padding-top: 30px;
    padding-left: 1px;
}