.headertop {
    display: flex;
    outline: auto;
    outline-color: black;
    outline-width: thick;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.urlbox {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white
}

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: white
}


body {
background: #242526;
}

label {
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.players {
    outline: auto;
    outline-width: thick;
    align-content: center;
    justify-content: center;
    display: grid;  
}

.players .playerOne {
    display: inline-block;
}

.players .playerTwo {
    display: inline-block;
}

.players .playerThree {
    display: inline-block;
}

.players .playerFour {
    display: inline-block;
}