.headertop {
    display: flex;
    outline: auto;
    outline-color: black;
    outline-width: thick;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.urlbox {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white
}

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: white
}


body {
background: #242526;
}


.players {
    min-width: 250px;
    position: relative;
    display: flex;
    outline: auto;
    outline-width: thick;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.players .playerOne script {
    display: inline-block;
    position: absolute;

}

.players .playerTwo script {
    display: inline-block;
    position: absolute;

}

.players .playerThree script {
    display: inline-block;
    position: absolute;

}

.players .playerFour script {
    display: inline-block;
    position: absolute;

}