.header {
  border-style: none;
  border-radius: 100vmax;
  justify-content: space-between;
  display: flex;
  padding: 25px;
  margin: 15px;
  background-color: var(--global-header-bg-color);
  box-shadow: 1px 8px 5px 1px rgba(0, 0, 0, 0.1);
  /* box-shadow: 1px 1px 15px 1px rgba(236, 236, 236, 0.15); */
  font-size: 18px;
  flex-wrap: wrap;
}

.button-wrapper,
.header button,
.plus-button,
.mobile-block,
.settings-menu,
span {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  vertical-align: middle;
}

.plus-button {
  width: 45px;
  height: 45px;
  background-color: rgb(54, 252, 137);
  border-style: none;
  border-radius: 5px;
  font-size: 18px;
}

.mobile-block {
  margin: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0,0,0,0.8);
  z-index: 1;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.bubble {
  background-color: rgb(49, 49, 49);
  width: 350px;
  height: 250px;
  border-radius: 15px;
  border-style: solid;
  border-color: rgb(49, 49, 49);
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 15px 1px rgba(236, 236, 236, 0.15);
  flex-wrap: wrap;
  padding: 5px;
}

.bubble a {
  text-decoration: none;
  color: white;
}

.themes {
  color: white;
  background-color: var(--global-bg-color);
  border-color: var(--global-bg-color);
  border-style: solid;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 10px;
  color: var(--global-text-color)
}

.settings-button {
  background-color: transparent;
  border-style: none;
}

.settings-menu {
  display: none;
  margin: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: 1;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.settings-close {
  height: 35px;
  width: 35px;
  border-style: none;
  border-radius: 5px;
  background-color: #ffffff;
}

.settings-menu.active {
  display: flex;
}

.bubble {
  background-color: var(--global-header-bg-color);
  display: flex;
  flex-direction: row;
}

.bubble h1 {
  margin-right: 15px;
}

.bubble-below p {
  margin-bottom: 10px;
  text-align: center;
}

span {
  margin-top: 10px;
}